.icon-avatar {
    width: 21px;
    height: 24px;
    background: url("../icons/avatar.svg") no-repeat center center;
    display: inline-block;
}
.icon-email {
    width: 24px;
    height: 24px;
    background: url("../icons/mail.svg") no-repeat center center;
    display: inline-block;
}
.icon-mobile {
    width: 21px;
    height: 24px;
    background: url("../icons/mobile.svg") no-repeat center center;
    display: inline-block;
}
.icon-dekstop {
    width: 24px;
    height: 24px;
    background: url("../icons/Dekstop.svg") no-repeat center center;
    display: inline-block;
}
.icon-wallet {
    width: 24px;
    height: 24px;
    background: url("../icons/wallet.svg") no-repeat center center;
    display: inline-block;
}
.icon-check-white-big {
    width: 63px;
    height: 63px;
    background: url("../icons/check-white-big.svg") no-repeat center center;
    display: inline-block;
}
.icon-box-white {
    width: 48px;
    height: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-check-white {
    width: 24px;
    height: 24px;
    background: url("../icons/check-white.svg") no-repeat center center;
    display: inline-block;
}
.icon-close-red {
    width: 24px;
    height: 24px;
    background: url("../icons/close.svg") no-repeat center center;
    display: inline-block;
}
.icon-close-black {
    width: 24px;
    height: 24px;
    background: url("../icons/close-black.svg") no-repeat center center;
    display: inline-block;
}

.icon-info-small {
    width: 16px;
    height: 16px;
    background: url("../icons/info-small.svg") no-repeat;
    display: inline-block;
    cursor: pointer;
}

.icon-error-circle {
    width: 63px;
    height: 63px;
    background: url("../icons/error-icon.svg") no-repeat center center;
    display: inline-block;
}

.icon-download {
    width: 48px;
    height: 48px;
    background: url("../icons/download.svg") no-repeat center center #2F5C37;
    border-radius: 12px;
    display: inline-block;
    vertical-align: top;
}
.icon-arrow-white {
    width: 48px;
    height: 48px;
    background: url("../icons/arrow-white.svg") no-repeat center center #2F5C37;
    border-radius: 12px;
    display: inline-block;
    vertical-align: top;
}