<app-header></app-header>

<div class="container abc-component mt-46">
    <div class="ng-row height-100">
        <div class="ng-col" col-3 col-sm-12>
            <app-progress-bar-circle [counter]="counter" [current]="current" [max]="max"></app-progress-bar-circle>
        </div>
        <div class="ng-col pt-30 pb-30 pd-sm-30" col-7 col-sm-12>

            <div class="font-24 color-2f5 font-600 mt-5">
                {{"Bankingtransactions" | translate}}
            </div>

            <div class="font-14 color-2f5 font-400 mt-15">
                {{"Whataretheanticipated" | translate}}
            </div>

            <div class="form-group mt-30">
                <div class="ng-row">
                  <div class="ng-col mb-10" col-12>
                    <div class="font-16 font-600 color-2d3">{{"CashDeposit" | translate}}</div>
                  </div>
                  <div class="ng-col" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-1" name="radioGroup">
                      <label for="label-1" class="color-black pt-5 pl-35">
                        {{"High" | translate}}
                      </label>
                    </div>
                  </div>
                  <div class="ng-col pl-15" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-2" name="radioGroup">
                      <label for="label-2" class="color-black pt-5 pl-35">
                        {{"Low" | translate}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group mt-42">
                <div class="ng-row">
                  <div class="ng-col mb-10" col-12>
                    <div class="font-16 font-600 color-2d3">{{"InternalTransfer" | translate}}</div>
                  </div>
                  <div class="ng-col" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-3" name="radioGroup-2">
                      <label for="label-3" class="color-black pt-5 pl-35">
                        {{"High" | translate}}
                      </label>
                    </div>
                  </div>
                  <div class="ng-col pl-15" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-4" name="radioGroup-2">
                      <label for="label-4" class="color-black pt-5 pl-35">
                        {{"Low" | translate}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group mt-42">
                <div class="ng-row">
                  <div class="ng-col mb-10" col-12>
                    <div class="font-16 font-600 color-2d3">{{"CashWithdrawal" | translate}}</div>
                  </div>
                  <div class="ng-col" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-5" name="radioGroup-3">
                      <label for="label-5" class="color-black pt-5 pl-35">
                        {{"High" | translate}}
                      </label>
                    </div>
                  </div>
                  <div class="ng-col pl-15" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-6" name="radioGroup-3">
                      <label for="label-6" class="color-black pt-5 pl-35">
                        {{"Low" | translate}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group mt-42">
                <div class="ng-row">
                  <div class="ng-col mb-10" col-12>
                    <div class="font-16 font-600 color-2d3">{{"Moneytransferstootherbanks" | translate}}</div>
                  </div>
                  <div class="ng-col" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-7" name="radioGroup-4">
                      <label for="label-7" class="color-black pt-5 pl-35">
                        {{"High" | translate}}
                      </label>
                    </div>
                  </div>
                  <div class="ng-col pl-15" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-8" name="radioGroup-4">
                      <label for="label-8" class="color-black pt-5 pl-35">
                        {{"Low" | translate}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group mt-42">
                <div class="ng-row">
                  <div class="ng-col mb-10" col-12>
                    <div class="font-16 font-600 color-2d3">{{"ChequeDeposit" | translate}}</div>
                  </div>
                  <div class="ng-col" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-9" name="radioGroup-5">
                      <label for="label-9" class="color-black pt-5 pl-35">
                        {{"High" | translate}}
                      </label>
                    </div>
                  </div>
                  <div class="ng-col pl-15" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-10" name="radioGroup-5">
                      <label for="label-10" class="color-black pt-5 pl-35">
                        {{"Low" | translate}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group mt-42">
                <div class="ng-row">
                  <div class="ng-col mb-10" col-12>
                    <div class="font-16 font-600 color-2d3">{{"Inwardinternationalmoneytransfer" | translate}}</div>
                  </div>
                  <div class="ng-col" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-11" name="radioGroup-6">
                      <label for="label-11" class="color-black pt-5 pl-35">
                        {{"High" | translate}}
                      </label>
                    </div>
                  </div>
                  <div class="ng-col pl-15" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-12" name="radioGroup-6">
                      <label for="label-12" class="color-black pt-5 pl-35">
                        {{"Low" | translate}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group mt-42">
                <div class="ng-row">
                  <div class="ng-col mb-10" col-12>
                    <div class="font-16 font-600 color-2d3">{{"Outwardinternationalmoneytransfer" | translate}}</div>
                  </div>
                  <div class="ng-col" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-13" name="radioGroup-7">
                      <label for="label-13" class="color-black pt-5 pl-35">
                        {{"High" | translate}}
                      </label>
                    </div>
                  </div>
                  <div class="ng-col pl-15" col-2>
                    <div class="custom-checkbox">
                      <input type="radio" value="" id="label-14" name="radioGroup-7">
                      <label for="label-14" class="color-black pt-5 pl-35">
                        {{"Low" | translate}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

            <div class="form-group mt-42 pt-30 mb-20">
                <button class="btn-dft" [routerLink]="['/register/TaxDetails']">{{"Continue" | translate}}</button>
            </div>
        </div>
    </div>
</div>
